# Dependencies
node_modules/

# Build and Compiler Outputs
dist/
demo-dist/
docs/.vitepress/cache/
*.tsbuildinfo

# Testing & Coverage
coverage/
.vitest/

# Logs and Debugging
npm-debug.log*

# Editor & OS Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
